# 检查点度中心性因子和回测

## 导入模块

In [6]:
import numpy as np
import pandas as pd
import feather

## 读入测试数据

In [7]:
N_connect = feather.read_dataframe('../data/N_connect_0_1/neutral_N_connect_num.feather')

In [10]:
N_connect[(N_connect['date'] == '2019-08-30') & (N_connect['N_connect'] == 0)]

           date  level_1   issue  N_connect  indus_factor  neutral_factor
23   2019-08-30       23  000029          0  -1964.744186    -1980.537718
780  2019-08-30      780  002323          0  -1913.869565    -1866.416843
1136 2019-08-30     1136  002680          0  -1788.921053    -1752.108075
1425 2019-08-30     1425  300028          0  -1696.970588    -1615.549524
2167 2019-08-30     2167  300789          0  -1740.853081    -1721.274439
2184 2019-08-30     2184  600022          0  -2151.812500    -2177.627162
2286 2019-08-30     2286  600145          0  -1894.285714    -1874.129483
2557 2019-08-30     2557  600485          0  -1696.970588    -1699.838465
3052 2019-08-30     3052  601288          0  -2047.969697    -2185.432076
3233 2019-08-30     3233  603093          0  -1845.243590    -1834.754317
3525 2019-08-30     3525  603755          0  -1763.715789    -1742.702888
3645 2019-08-30     3645  603992          0  -1782.398438    -1799.011294

## 检查不同方法 IC 反向问题

## 检查收益最低组收益过高问题